TimeCoding/.metadata
Tests
pg_extension_makefile/src/*.o
pg_extension_makefile/PostTIMEtest.config
pg_extension_makefile/logTest4PostTIME.log
pg_extension_makefile/simpleQuerysSQL.txt
pg_extension_makefile/test4ptime.jar
pg_extension_makefile/test_script_make
pg_extension_makefile/sql/cshape*
pg_extension_makefile/expected/cshape*
pg_extension_makefile/sql/*airport*
pg_extension_makefile/expected/*airport*
*~
